absl-py==0.9.0
aiohttp==3.9.1
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==19.3.0
cachetools==4.2.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.3
clickclick==1.2.2
connexion==3.0.6
cycler==0.10.0
Deprecated==1.2.14
dnspython==2.4.2
dotenv-cli==3.2.2
filelock==3.13.1
Flask[async]==3.0.3
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.3.3
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gevent==20.9.0
greenlet==0.4.17
grpcio==1.47.0
h5py==2.10.0
huggingface-hub==0.23.0
idna==2.9
inflection==0.5.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==0.15.1
jsonschema==4.0.1
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
loguru==0.7.2
Markdown==3.2.2
matplotlib==3.2.2
multidict==6.0.4
nltk==3.5
numpy==1.22.0
oauthlib==3.1.0
openai==0.28.0
openapi-spec-validator==0.2.8
opt-einsum==3.2.1
packaging==23.2
pandas==2.0.3
Pillow==10.1.0
pinecone-client==3.1.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pypdf2==3.0.1
pyrsistent==0.16.0
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2020.1
PyYAML==5.4
regex==2020.9.27
requests==2.31.0
requests-oauthlib==1.3.0
rsa==4.6
safetensors==0.4.1
scikit-learn==0.23.1
scipy==1.4.1
sentence-transformers==2.2.2
sentencepiece==0.1.95
six==1.15.0
sklearn==0.0
swagger-ui-bundle==0.0.6
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.12.0
tensorflow-text==2.2.1
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.19.0
torch==1.8.0
torchaudio==0.8.0
torchvision==0.9.0
tqdm==4.64.1
typing-extensions==4.8.0
tzdata==2023.3
urllib3==2.2.1
Werkzeug==3.0.0
wrapt==1.12.1
yarl==1.9.3
zope.event==5.0
zope.interface==6.1
uvicorn==0.29.0
a2wsgi==1.10.4
git+https://github.com/huggingface/transformers.git